@page "/"
@*@inject UserInfo UserInfo
*@

@*@inject NavigationManager _navigationManager@**@

<PageTitle>Index</PageTitle>

<h1 class="centerAlign">Hello, world!</h1>

<div class="centerAlign">
	<img src="/small_strong.png" alt="funny cat iamge :3" />
		<div class="outlineBox" style="float:right">
			<p>Let's be like this cat and start counting thoes calories!</p>
			<EditForm Model="userInfo">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<Label>
					Email:
				<InputText id="email" @bind-Value="userInfo.Email" />
				</Label>
				<Label>
					Password:
				<InputText id="password" @bind-Value="userInfo.Password" />
				</Label>

			<a href="calender" class="btn btn-primary"> Login </a>

			</EditForm>
		</div>
</div>

@code{

	private UserInfo userInfo = new();

	@*void Navigate()
	{
		UriHelper.NavigateTo("counter");
	}

	@*private void HandleValidSubmit()
	{
		Logger.LogInformation("HandleValidSubmit called");

		// Process the valid form
	}*@
}
