@page "/"
@*@inject UserInfo UserInfo
*@


<PageTitle>Index</PageTitle>

<h1 class="centerAlign">Smolder Calories</h1>

<div class="wrapper">
	<div class="catImageDiv">
		<img src="/small_strong.png" alt="funny cat iamge :3" />
	</div>
		<div class="outlineBox" >
			<p>Let's be like this cat and start counting those calories!</p>
			<EditForm Model="userInfo">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<Label>
					Email:
				<InputText id="email" @bind-Value="userInfo.Email" />
				</Label>
				<Label>
					Password:
				<InputText id="password" @bind-Value="userInfo.Password" />
				</Label>
				<br />
			<a href="calender" class="btn btn-primary"> Login </a>
			<a href="register" class="btn btn-primary"> Register </a>

			</EditForm>
		</div>
</div>

@code{

	private UserInfo userInfo = new();

	@*void Navigate()
	{
		UriHelper.NavigateTo("counter");
	}

	@*private void HandleValidSubmit()
	{
		Logger.LogInformation("HandleValidSubmit called");

		// Process the valid form
	}*@
}
